.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
}
.inner {
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: #0099ff;
}
.menuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.listItem {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 70px;
    font-size: 32px;
}
.listItem:last-child {
    margin-bottom: 0;
}
