.wrapper {
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    min-height: 40px;
    min-width: 210px;
    /* Данным способом можно подключать стили из других файлов стилей */
    /* composes: wrapper from '../../styles/global.css'; */
}
.search {
    position: absolute;
    left: 5px;
    top: 5px;
}
.searchFocus {
    position: absolute;
    left: 5px;
    top: 5px;
    min-width: 400px;
    z-index: 3; 
}
.backbround {
    position: absolute;
    background-color: #00000088;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0px;
    bottom: 0;
    z-index: 2;
    display: none;
}
.backbroundFocus {
    position: absolute;
    background-color: #00000088;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0px;
    bottom: 0;
    z-index: 2;
}
