.wrapper {
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    min-height: 40px;
    min-width: 210px;
}
.search {
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 3;
    min-width: 210px;
    transition: min-width .5s ease;
}
.background {
    position: absolute;
    background-color: #00000088;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0px;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease;
}
