.placeAndDate {
    display: flex; 
    justify-content: space-between; 
    font-size: 22px;
    .date::first-letter {
        text-transform: capitalize;
    }
}
@media (max-width: 600px) {
    .placeAndDate {
        flex-direction: column;
        gap: 15px;
    }
}
