.sublistWrapper {
    position: relative;
}
.sublistWrapper>div:first-child {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}
.sublist {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 150px;
    border-radius: 0 0 6px 6px;
    background-color: #0076bf;
    transform: translateY(100%);
}
.link {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: capitalize;
    font-size: 15px;
}
.link:hover {
    background-color: #40b3ff;
}
.arrow {
    transform: rotateZ(90deg);
}
.arrow>svg {
    fill: white;
    transform: scale(0.6);
}
