.wrapper {
    display: flex;
    height: 40px;
    align-items: center;
}
.list {
    display: flex;
    color: white;
}
.listItem {
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    flex-shrink: 0;
}
.listItem:last-child {
    padding: 0;
}
.listItem>a {
    height: 40px;
    display: flex;
    align-items: center;
}
.listItem:hover {
    background-color: #40b3ff;
}
